---
import { getRelativeLocaleUrl } from 'astro:i18n';
import getNavigation from "../queries/getNavigation";
import type { NavigationQuery } from '../gql/graphql';

const locale = Astro.currentLocale || 'en';

const { navigation }: NavigationQuery = await getNavigation();
const nav = navigation?.page.map((p) => {
  return {
    url: `${p.__typename === "Pdp" ? "/pdp/" : "/"}${p.slug}`,
    label: p.title,
  };
});
---

<footer class="bg-dark text-light mx-auto max-w-screen-2xl">
  <div
    class="mx-auto flex flex-wrap gap-4 justify-between items-center px-5 py-5 md:py-8"
  >
    <div class="space-x-4">
      <span class="font-bold font-title text-2xl">
        <a href="/">skncre</a>
      </span>
      <span class="text-md">
        By
        <a class="underline" href="https://hygraph.com" target="_blank"
          >Hygraph</a
        ></span
      >
    </div>

    <nav class="flex flex-wrap gap-x-6 gap-y-2 items-center md:text-xl">
      {nav?.map((navItem) => {
        return (
          <a
            href={getRelativeLocaleUrl(locale, navItem.url)}
            class="lowercase"
          >
            {navItem.label}
          </a>
        );
      })}
    </nav>
  </div>
</footer>
