<div class="w-full bg-tertiary p-4">
  <form id="subscribe" method="GET" action="/api/subscribe">
    <div class="flex space-x-4" id="holder">
      <input
        type="email"
        id="email"
        name="email"
        class="px-4 py-1 text-primary placeholder:text-primary border border-primary"
        placeholder="Subscribe to newsletter"
        required
      />
      <button class="cta" type="submit">
        Go
      </button>
    </div>
  </form>
</div>
